@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}

/* --------------------- Login Form------------------------------ */
.container {
  width: 384px;
  height: 453px;
  box-shadow: inset 0px 0px 1px rgba(233, 233, 235, 0.87);
  border-radius: 5px;
  background: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 40px;
  margin: 50px auto;
  gap: 12px;
  padding-inline: 8px;
  /* border: 1px solid #000; */
}

.logo img {
  width: 16px;
  height: 30px;
  padding-block: 2px;
}

.logo h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  line-height: 2.4;
}

.form-group {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

.form-group label {
  color: #474b57;
}
.form-group input {
  height: 45px;
  padding: 10px 15px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 3px rgba(230, 231, 232, 1);
  border-radius: 6px;
  margin-bottom: 15px;
}

input:focus {
  box-shadow: inset 0 0 0 1px #999;
}

button {
  width: 318px;
  height: 44px;
  background: #0e1422;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}

/* ----------------- acceuil dashboard ------------------ */

.layout {
  width: 100%;
  height: 935px;
  display: flex;
}

.sidebar {
  width: 260px;
  height: 925px;
  background: #ffffff;
}

.sidebar nav {
  width: 212px;
  height: 326px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar nav ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  cursor: pointer;
  gap: 10px;
}

.sidebar nav ul a {
  text-decoration: none;
  color: inherit;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.main {
  width: 100%;
  height: 100%;
}
.header {
  max-width: 1440px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #000; */
  margin: 0 auto;
  padding-left: 25px;
}

.header h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
}

/* ---------------------content Dashboard------------------ */

.content {
  max-width: 1440px;
  width: 100%;
  height: 750px;
  /* border: 1px solid #333; */
  margin: 0px auto;
}

/* -------------------------- Card----------------------- */
.container_top {
  max-width: 1440px;
  width: 100%;
  height: 187px;
  display: flex;    
  gap: 80px;
}

.container_left, .container_middle, .container_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}

.container_left .card_header, .container_middle .card_header, .container_right .card_header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.container_left .txt, .container_middle .txt, .container_right .txt {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

 .container_left .txt h2, .container_middle .txt h2, .container_right .txt h2 {
  font-size: 16px;  
  line-height: 1.75;
} 

.container_left .txt h3, .container_middle .txt h3, .container_right .txt h3 {
  font-size: 12px;
  color: #5C5F6A;
  line-height: 1.75;
  text-transform: uppercase;
}

.container_left #sales, .container_middle #customers, .container_right #orders {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  text-align: right;
}

.container_left .img, .container_middle .img, .container_right .img {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container_left img, .container_middle img, .container_right img {
  width: 100%;
  max-width: 274px;
  height: auto;
  display: block;
}

.card {
  width: 328px;
  height: 187px;
  box-shadow: inset 0 0 3px rgba(233, 233, 235, 1);
  background: #fff;
  border-radius: 8px;
}

.container_bottom {
  max-width: 1440px;
  width: 100%;
  height: 475px;
  /* border: 1px solid #333; */
  margin: auto;
  display: flex; 
  gap: 115px;
  margin-top: 30px;
}

.container_bottom_left {
  width: 328px;
  height: 475px;
  background: #fff;
}

.container_bottom_right {
  width: 695px;
  height: 475px;
  background: #fff;
}



