@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}

/* --------------------- Login Form------------------------------ */
.container {
  width: 384px;
  height: 453px;
  box-shadow: inset 0px 0px 1px rgba(233, 233, 235, 0.87);
  border-radius: 5px;
  background: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 40px;
  margin: 50px auto;
  gap: 12px;
  padding-inline: 8px;
  /* border: 1px solid #000; */
}

.logo img {
  width: 16px;
  height: 30px;
  padding-block: 2px;
}

.logo h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  line-height: 2.4;
}

.form-group {
  width: 320px;  
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

.form-group label {
  color: #474b57;
}
.form-group input {
  height: 45px;
  padding: 10px 15px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 3px rgba(230, 231, 232, 1);
  border-radius: 6px;
  margin-bottom: 15px;
}

input:focus {
  box-shadow: inset 0 0 0 1px #999;
}

button{
    width: 318px;
    height: 44px;
    background: #0E1422;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 30px auto;    
}